.icon-eye {
  position: absolute;
  top: 5.5rem;
  left: 95%;
}
.new-icon {
  position: relative;
  top: -2.1rem;
  left: 93%;
}
.conf-icon {
  position: relative;
  top: -2.1rem;
  left: 93%;
  z-index: 500;
}
